*
{
padding: 0;
margin: 0;
}


.nav{

padding-top:10 ;
}
.nav h1{

color: white;
font-size: 18;
margin-left: 80 ;
padding-top: 5;
}

.nav hr{
width: 50;
position: relative;
bottom:10;
left:200;
height: 2;
border-radius: 2px;

}

.cont1
{

height: 650;
width: 100%;
background-image: url("messi\ back.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.cont1 .text
{
color: white;
font-size: 30;
padding-top: 100;
padding-left: 80;
}
.cont1 .text2
{
color: white;
padding-left: 80;
font-size: 13; padding-top: 10;
}

.cont1 .btn1
{
height: 40;
width: 100;
margin-top: 50;
border-radius: 10px;
border: solid white;
font-size: 13;
background-color: transparent;
color: #C3243F;
}

.cont2
{
height: 200;
width: 100%;
background-image: url("backface.png");
background-repeat: no-repeat;
background-size: cover;
box-shadow: 20px 20px 200px 200px #040A19;
float: left;


}

.cont2 .tee
{
color: white;
font-size: 13;
padding-top: 30;
margin-left: 80;
}

.cont2 .sec1
{
color: white;
font-size: 13;
padding-top: 30;
margin-left: 115;
}


.cont2 .lefts
{
height: 100;
width: 350;

margin-left: 40;
float: left;
}

.cont2 .lefts .lefty
{
height:100 ;
width:100;

float: left;
}

.cont2 .lefts .righty
{

height:100 ;
width:300;

margin-left: 50;
}

.cont2 .lefts .lefty h1
{

font-size: 60;
color: white;
}
.cont2 .lefts .lefty p
{
font-size: 12;
position: relative;
top:-5;
color: #82AAE3
}

.cont2 .lefts .righty p{
font-size: 13;
padding-top: 19;
color: white;
position: relative;
left:8;
}

.cont2  .mid
{
margin-left: 30;
padding-top: 50;
}

.cont2 .lefts b{
color: #C3243F;
}


.cont3
{
margin-top:200;
height: 700;
width: 100%;
background-image: url("mesii\ back\ 2.png");
background-repeat: no-repeat;
background-size: cover;
}

.cont3 h1
{

text-align: center;
padding-top: 20;
font-size: 25;
color: white;

}

.cont3 hr
{
width: 100;
height: 3;
margin-left: 580;
margin-top: 10;
border-radius: 2px ;
float: left;
}

.cont3 .leftys
{

height: 350;
width: 280;
background-color: aliceblue;
float: left;
margin-left: 50;
}
.cont3 .leftys .top
{
height: 180;
width: 280;
background-image: url("mesii\ news\ .png");
background-size: cover;

}

.cont3 .leftys .bottom
{
height: 170;
width: 280;
background-color:#062247;
float: left;

}

.cont3 .leftys .bottom .etx
{
color: white;
font-size: 13;
text-align: center;
padding-top: 10;
padding: 10;

}

.cont3 .btn1{
height: 40;
width: 100;
text-align: center;
border-radius: 10px;
border: solid white;
font-size: 13;
background-color: transparent;
color: #C3243F;
margin-left: 90;
}

.cont3 .alignm
{
padding-top: 50;
margin-left: 100;
float: left;
}

.cont3 .coc
{
position: relative;
top:60;
}

.cont2 h1
{

text-align: center;
padding-top: 20;
font-size: 25;
color: white;

}

.cont2 hr{
width: 100;
height: 3;
margin-left: 580;
margin-top: 10;
border-radius: 2px ;
float: left;
}

.con
{
position: relative;
top:-80;
}

.cont4
{

height: 1300;
width: 100%;
background-color: #040A19;
float: left;
}

.cont4 .leftas
{

height: 400;
width: 500;
background-color: #82AAE3;
float: left;


}

.cont4 .rightas
{
height: 400;
width: 500;
color: white;
float: left;
margin-left: 100;
}

.cont4 .leftass
{
height: 400;
width: 500;
color: white;
float: left;
}
.cont4 .rightass
{
height: 400;
width: 500;
background-color: #82AAE3;
float: left;
}

.cont4 .hr1{
width: 100;
height: 3;

margin-top: 10;
border-radius: 2px ;

}

.cont4 .text
{
padding-top: 20;
font-size: 15px;
margin-left: 20;
}

.cont4 .align

{
margin-left: 90;
position: relative;
top:-150
}

.align h1
{
color: #C3243F;
}

.h11
{

color: #82AAE3;
position: relative;
top:50;
right:300;
text-align: center;
font-size: 15;

}